<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wind.deilyFitness.dao.record.abdominal.FitRecordAbdominalMapper" >
  <resultMap id="BaseResultMap" type="org.wind.deilyFitness.entity.record.abdominal.FitRecordAbdominal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="abdominal_code" property="abdominalCode" jdbcType="VARCHAR" />
    <result column="abdominal_name" property="abdominalName" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="fit_record_id" property="fitRecordId" jdbcType="INTEGER" />
    <result column="temp" property="temp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, abdominal_code, abdominal_name, frequency, user_id, fit_record_id, temp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fit_record_abdominal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fit_record_abdominal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.wind.deilyFitness.entity.record.abdominal.FitRecordAbdominal" >
    insert into fit_record_abdominal (id, abdominal_code, abdominal_name, 
      frequency, user_id, fit_record_id, 
      temp)
    values (#{id,jdbcType=INTEGER}, #{abdominalCode,jdbcType=VARCHAR}, #{abdominalName,jdbcType=VARCHAR}, 
      #{frequency,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{fitRecordId,jdbcType=INTEGER}, 
      #{temp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.wind.deilyFitness.entity.record.abdominal.FitRecordAbdominal" >
    insert into fit_record_abdominal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="abdominalCode != null" >
        abdominal_code,
      </if>
      <if test="abdominalName != null" >
        abdominal_name,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="fitRecordId != null" >
        fit_record_id,
      </if>
      <if test="temp != null" >
        temp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="abdominalCode != null" >
        #{abdominalCode,jdbcType=VARCHAR},
      </if>
      <if test="abdominalName != null" >
        #{abdominalName,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="fitRecordId != null" >
        #{fitRecordId,jdbcType=INTEGER},
      </if>
      <if test="temp != null" >
        #{temp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.wind.deilyFitness.entity.record.abdominal.FitRecordAbdominal" >
    update fit_record_abdominal
    <set >
      <if test="abdominalCode != null" >
        abdominal_code = #{abdominalCode,jdbcType=VARCHAR},
      </if>
      <if test="abdominalName != null" >
        abdominal_name = #{abdominalName,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="fitRecordId != null" >
        fit_record_id = #{fitRecordId,jdbcType=INTEGER},
      </if>
      <if test="temp != null" >
        temp = #{temp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wind.deilyFitness.entity.record.abdominal.FitRecordAbdominal" >
    update fit_record_abdominal
    set abdominal_code = #{abdominalCode,jdbcType=VARCHAR},
      abdominal_name = #{abdominalName,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      fit_record_id = #{fitRecordId,jdbcType=INTEGER},
      temp = #{temp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="doFitRecordAbdominalSearch" parameterType="FitRecordAbdominalForm" resultType="FitRecordAbdominalVo">

    select
    <include refid="Base_Column_List" />
    from fit_record_abdominal
    where fit_record_id=#{fitRecordId}

  </select>
</mapper>